@charset "UTF-8";
#wrap {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	width: 25%;
	height: 150px;
	background: pink;
}

.menu {
	width: 50%;
	height: 150px;
	text-align: center;
	background-color: gray;
}


.login {
	background-color: skyblue;
	width: 25%;
	height: 150px;
	line-height: 100px;
	text-align: center;
	line-height: 100px;
}